.content-table{
    border-collapse: collapse;
    margin: 70px auto;
    font-size: 0.9rem;
    min-width: 600px;
    border-radius: 20px;
    overflow: hidden;
}

.content-table thead tr {
    background-color: #393E46;
    color: #ffffff;
    font-weight: bold;
}

.content-table tr {
    text-align: left;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    background-color: #393E46;
    border-bottom: 1px solid #ffffff2c;
}

.content-table td{
    color: #ffffff;
}

.content-table thead th{
    border-bottom: 1px solid #ffffff;
}
